body{
    padding-top:100px;
    padding-bottom: 40px;
}

nav  a img{
    width: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


.dati, .int-dati{
    text-align: center;

}

.dati{
    height: 50px;
    line-height: 2;
    padding: 10px 0;
}

.dati2{

    border-right:1px solid grey;
    border-left:1px solid grey;

}

.int-dati{

    border-bottom: 1px solid black;
    padding: 5px 10px;


}

.box{
    background: lightgreen;

}

.dettagli-visualizza{
    padding:5px;
}
.box .dettagli-visualizza span{
    display: block;
}

.title-visualizza{
    background: green;
    height: 40px;
    line-height: 3;
    padding-left:5px;
}
footer{
    color: white;
    background-color: black;
}

.full{
    display: block;
    width: 100%;
    padding:15px 0 0 0;
}

.btn-mod{
    margin:10px 0 0 0;
}

.h2-su-form{
    display: block;
    width: 100%;
}



.form-inline{
 display: inline-block;
}

#conf{
    margin-top:10px;
}

#conf p{
    display: inline-block;
}

.crea a,.crea p {
    display: inline-flex;
}

.right{
    float: right;
}
.left{
    float: left;
}

.crea{

    display: flex;
    align-items: center;
    justify-content:space-between;
}

.crea h3{
    padding:0;
    margin:0;
}

.op{
    margin-bottom:10px;
}
